<h2 class = "title">Edit Entry</h2>
<div class = "edit-main-container">
    <div class = "edit-container container">
        <%= render 'form' %> 
        <%= link_to 'Show', @watch_item, class: "button"%> 
        <%= link_to 'Back', watch_items_path, class: "button" %>
    </div>
</div>

