<div class = "main-container">
    <h1 class = "title">Edit Watch Item</h1>
    <div class = "edit-container container">
        <%= render 'form' %>
        <%= link_to 'Show', @watch_item, class: "button"%>
        <%= link_to 'Back', watch_items_path, class: "button" %>
    </div>
</div>

