<h1 class = "title">New Entry</h1>
<div class = "new-main-container">
    <div class = "container new-container">
        <%= render 'form', class:"button"%>
        <%= link_to 'Back', watch_items_path, class:"button" %>
    </div>
</div>


