<div class = "main-container">
    <h1 class = "title">New Watch Item</h1>
    <div class = "container new-container">
        <%= render 'form', class:"button"%>
        <%= link_to 'Back', watch_items_path, class:"button" %>
    </div>
</div>


